<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SbxConnectionString"
			 connectionString="Server=.;Initial Catalog=sbx_development;Persist Security Info=False; User ID=sa;Password=admin2024;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"/>
	</connectionStrings>
	<appSettings>
		<!--Auth-->
		<add key="UrlAuthPOST" value="https://api-sandbox.factus.com.co/oauth/token" />
		<add key="grant_typeAuth" value="password"/>
		<add key="client_id" value="9f5fc0dd-b02a-4077-a817-6fe4a5baa029"/>
		<add key="client_secret" value="U6PHhU2T7RJyHOBAfet8spFKmwgpSAkGaRZQN896"/>
		<add key="username" value="sandbox@factus.com.co"/>
		<add key="password" value="sandbox2024%"/>
		
		<!--Refresh Token -->
		<add key="UrlRefreshTokenPOST" value="https://api-sandbox.factus.com.co/oauth/token" />
		<add key="grant_typeRefreshT" value="refresh_token" />
		<add key="client_id" value="9f5fc0dd-b02a-4077-a817-6fe4a5baa029" />
		<add key="client_secret" value="U6PHhU2T7RJyHOBAfet8spFKmwgpSAkGaRZQN896" />
		
		<!--Crear y Validar Factura-->
		<add key="UrlCrearValidarFacturaPOST" value="https://api-sandbox.factus.com.co/v1/bills/validate" />
		
		<!--Ver Factura-->
		<add key="UrlVerFacturaGET" value="https://api-sandbox.factus.com.co/v1/bills/show/" />
		
		<!--Rangos de numeracion / Rangos-->
		<add key="UrlRangosGET" value="https://api-sandbox.factus.com.co/v1/numbering-ranges" />
		
		<!--Crear y Validar Nota Credito-->
		<add key="UrlCrearValidarNotaCreditoPOST" value="https://api-sandbox.factus.com.co/v1/credit-notes/validate" />

		<!--Ver Nota Credito-->
		<add key="UrlVerNotaCreditoGET" value="https://api-sandbox.factus.com.co/v1/credit-notes/" />
		
	</appSettings>
</configuration>