<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SbxConnectionString"
			 connectionString="Server=.;Initial Catalog=sbx_development;Persist Security Info=False; User ID=sa;Password=admin2025;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>